<a href="https://colab.research.google.com/github/vadim13213/University/blob/main/%D0%94%D0%9F%D0%9E_%D0%9E%D1%81%D0%BD%D0%BE%D0%B2%D1%8B_Python_%D0%9F%D1%80%D0%B0%D0%BA%D1%82%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B0%D1%8F_%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%B0_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Практическая работа №1. Введение в Python. Функции ввода-вывода. Основные типы и структуры данных**

---

**Обучающийся:** *[Захаренко Вадим Олегович]*

---

## **Блок заданий №1. Функция `print`**

#### 1. Выведите на экран фразу **"Добро пожаловать в мир Python!"** с помощью функции `print`.

In [1]:
print('Добро пожаловать в мир Python!')

Добро пожаловать в мир Python!

#### 2. Выведите на экран результат сложения чисел **15** и **27**.

In [2]:
print(15+27)

42

#### 3. Сохраните свое имя в переменную и выведите его на экран с помощью `print`.

In [3]:
name = "Vadim"
print(name)

Vadim

#### 4. Выведите на экран несколько строк текста, каждая из которых отображается с новой строки.

In [9]:
first_name = "Vadim"
last_name = "Zakharenko"
print(f'{first_name}\n{last_name}')

Vadim
Zakharenko

#### 5. Выведите результат математического выражения с использованием f-строк, например:

   ```python
   7 + 7 = 14
   ```

In [8]:
print(f'{7 + 7}')

14

## **Блок заданий №2. Функция `input`**

#### 1. Запросите у пользователя три разных числа и выведите их произведение.

In [11]:
a, b, c = [float(input(f'Введите число {i+1}:')) for i in range (3)]
print(f'Произведение: {a*b*c}')

Введите число 1:1
Введите число 2:3
Введите число 3:5
Произведение: 15.0

#### 2. Попросите пользователя ввести свое ФИО, а затем выведите фамилию и инициалы.

In [14]:
s, n, p = input("Введите ФИО: ").split(); print(f'{s} {n[0]}.{p[0]}.')

Введите ФИО: Захаренко Вадим Олегович
Захаренко В.О.

#### 3. Получите от пользователя строку и символ, затем определите, сколько раз этот символ встречается в строке.

In [18]:
text, b = input("Введите строку и через пробел символ: ").split(); print(sum(1 for i in text if i == b))

Введите строку и через пробел символ: qweasdqwefjdfbdbjkjkdfb w
2

#### 4. Попросите пользователя ввести любимый цвет и выведите сообщение: **"[Цвет] - красивый цвет!"**.

In [20]:
print(input("Введите ваш любимый цвет: ") + " - красивый цвет!")

Введите ваш любимый цвет: Черный
Черный - красивый цвет!

#### 5. Получите от пользователя строку и выведите ее длину.

In [23]:
print(f'Длина - {len(input("Введите строку:"))}')

Введите строку:qwe
Длина - 3

## **Блок заданий №3. Тип данных `int`**

#### Тип данных `int`

1. Создайте переменную типа `int`, присвойте ей значение **42** и выведите на экран.

In [24]:
a = 42
print(a)

42

2. Вычислите и выведите результат выражения **(17 * 3) + (10 / 2)** в виде целого числа.

In [25]:
a = int((17*3)+(10/2))
print(a)

56

3. Преобразуйте строку **"100"** в целое число и добавьте к нему **25**.

In [26]:
a = "100"
print(int(a) + 25)

125

4. Проверьте тип переменной, которая хранит значение **7**, используя функцию `type()`.

In [27]:
a = 7
print(type(a))

<class 'int'>

5. Создайте две переменные целого типа, присвойте им значения и выведите их разницу.

In [28]:
a, b = 52, 11
print(a-b)

41

## **Блок заданий №4. Тип данных `float`**

#### 1. Запросите у пользователя вещественное число и выведите его квадрат.

In [31]:
print(f'Квадрат вашего числа: {(float(input("Введите вещественное число: ")))**2}')

Введите вещественное число: 3.3
Квадрат вашего числа: 10.889999999999999

#### 2. Запросите у пользователя вещественное число и округлите его до двух знаков после запятой.

In [33]:
print(round(float(input("Введите вещественное число: ")), 2))

Введите вещественное число: 3.3333
3.33

#### 3. Сложите два числа с плавающей точкой: **2.5** и **4.7**, выведите результат.

In [34]:
print(2.5 + 4.7)

7.2

#### 4. Преобразуйте градусы Цельсия, введенные пользователем, в Фаренгейты по формуле `F = C * 9/5 + 32`.

In [35]:
print(int(input("Введиет градусы Цельсия: "))*9/5 +32)

Введиет градусы Цельсия: 18
64.4

#### 5. Получите от пользователя длину и ширину прямоугольника, вычислите его площадь и периметр.

In [41]:
length, width = map(int, input("Введиет длину и ширину: ").split())
print(f'Площадь: {length*width}\nПериметр: {2*(length+width)}')

Введиет длину и ширину: 11 12
Площадь: 132
Периметр: 46

## **Блок заданий №5. Тип данных `str`**

####1. Создайте строку **"Python - самый популярный язык программирования"** и выведите ее.

In [42]:
print("Python - самый популярный язык программирования")

Python - самый популярный язык программирования

####2. Выведите первый и последний символы строки **"Привет, мир!"**.

In [44]:
hello = "Привет, мир"
print(hello[0], hello[-1])

П р

####3. Соедините три строки: **"МИИГАиК - "** , **"Лучший "**, **"ВУЗ!"** выведите результат.

In [45]:
print("МИИГАиК - " + "Лучший " + "ВУЗ!")

МИИГАиК - Лучший ВУЗ!

####4. Преобразуйте строку **"12345"** в число и выведите тип полученного значения.

In [51]:
a = "12345"
print("ДО", type(a), "\nПосле", int(a), type(a))

ДО <class 'str'>
После 12345 <class 'str'>

####5. Сделайте все буквы строки **"python is Fun"** заглавными и выведите результат.

In [53]:
print("python is Fun".upper())

PYTHON IS FUN

## **Блок заданий №6. Тип данных `list`**

####1. Создайте список из чисел **[10, 20, 30, 40, 50]** и выведите его.

In [57]:
a = [10, 20, 30, 40, 50]
print(a)

[10, 20, 30, 40, 50]

####2. Добавьте в список строку **"новый элемент"** и выведите обновленный список.

In [58]:
a.append("новый элемент")
a

[10, 20, 30, 40, 50, 'новый элемент']

####3. Из списка `['python', 'java', 'c++', 'ruby', 'perl']` выведите элементы с 2-го по 4-й включительно.

In [62]:
langs  = ['python', 'java', 'c++', 'ruby', 'perl']; print(langs[1:5])

['java', 'c++', 'ruby', 'perl']

####4. Создайте пустой список, добавьте в него три любых значения и выведите итоговый список.

In [66]:
langs = []; [langs.append(i) for i in range (3)]; langs

[0, 1, 2]

####5. Измените второй элемент списка **[1, 2, 3, 4, 5]** на число **200** и выведите список.

In [70]:
langs = [1, 2, 3, 4, 5]; langs[1] = 200; langs

[1, 200, 3, 4, 5]

## **Блок заданий №7. Тип данных `tuple`**

####1. Создайте кортеж из чисел **(1, 2, 3, 4, 5)** и выведите его на экран.

In [83]:
a = (1, 2, 3, 4, 5)
a

(1, 2, 3, 4, 5)

####2. Попробуйте изменить первый элемент кортежа и объясните в комментариях к программе, что произошло.

In [72]:
a[0] = 21
a

TypeError: 'tuple' object does not support item assignment

Кортежи используются для хранения данных, которые не должны изменяться в процессе работы программы

####3. Преобразуйте кортеж в строку и выведите результат.

In [81]:
print(''.join(str(x) for x in a))

12345

####4. Проверьте, содержится ли определенный элемент в кортеже, выведите соответствующее сообщение.

In [92]:
[print("Содержится") if 4 in a else "Не содержится"]

Содержится

[None]

####5. Создайте кортеж, состоящий из нескольких одинаковых элементов, и найдите их количество с помощью метода `count()`.

In [93]:
t = (1, 2, 3, 2, 4, 2, 5, 2, 3, 1)
for element in set(t):
    print(f"Элемент {element} встречается {t.count(element)} раз(а)")

Элемент 1 встречается 2 раз(а)
Элемент 2 встречается 4 раз(а)
Элемент 3 встречается 2 раз(а)
Элемент 4 встречается 1 раз(а)
Элемент 5 встречается 1 раз(а)

## **Блок заданий №8. Тип данных `dict`**

####1. Создайте словарь с данными о себе: ключи **"имя"**, **"возраст"**, **"город"**; выведите его.

In [94]:
person = {"имя":"Вадим","возраст":21, "город":"Ногинск" }
person

{'имя': 'Вадим', 'возраст': 21, 'город': 'Ногинск'}

####2. Выведите значение по ключу **"имя"** из созданного словаря.

In [97]:
person.get("имя")

'Вадим'

####3. Добавьте в словарь новый ключ **"профессия"** со значением и выведите словарь.

In [98]:
person["профессия"] = "Прикладная информатика"
person

{'имя': 'Вадим',
 'возраст': 21,
 'город': 'Ногинск',
 'профессия': 'Прикладная информатика'}

####4. Удалите из словаря ключ **"город"** и выведите обновленный словарь.

In [99]:
person.pop("город")
person

{'имя': 'Вадим', 'возраст': 21, 'профессия': 'Прикладная информатика'}

####5. Создайте пустой словарь и добавьте в него пару ключ-значение, введенных пользователем.

In [101]:
person2 = {}
person2[input("Введите ключ: ")] = input("Введите значение ключа: ")
person2

Введите значение ключа: Арбуз
Введите ключ: фрукт

{'фрукт': 'Арбуз'}